/* =========================================
   Archivo: page-not-found.css
   Tipo: Hoja de estilos
   Descripción: Reglas específicas para la página de error 404
   ========================================= */

/* ====== ELEMENTS ======
   Define estilos base aplicados a etiquetas HTML puras */

/* Efecto de hover para un boton */
.pnf__btn--hover:hover {
  background-color: rgb(var(--white)) !important;
  color: rgb(var(--background-app)) !important;
}

/* ====== UTILITIES ======
   Define clases de propósito único con alta prioridad */

/* Texto de advertencia */
.pnf__warning-text {
  color: rgb(var(--red));
}
